<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Picnix is the place to learn Photography</h1>
    <br />
    <h2>Learn through video.</h2>
    <h3>All our lessons are videos that help to properly understand your course.</h3>
    <br />
    <%= link_to 'Learn more about our courses!', courses_path, class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from lots of different courses to help you with the perfect picture.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn everything at your own pace</h3>
    <br />
    <p>Dont let the course get in the way of your life, pick up where you left off with ease.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Want to teach?</h3>
    <br />
    <p>No problem! Just upload your own lessons and you can be teaching in no time!</p>
  </div>
</div>
