<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Learn photography today!</h1>
  <hr />  
  <% @courses.each do |course| %>
    <div class="row">
      <div class="col-12">
        <h2>
          <%= link_to course.title, course_path(course) %>
        </h2>
      </div>
      <div class="col-12 col-sm-6">
        <%= image_tag course.image, class: 'img-fluid' %>
      </div>
      <div class="col-12 col-sm-6">
        <%= course.description %>
        <%= link_to 'See Course', course_path(course), class: 'btn btn-primary btn-lg float-right' %>
      </div>
      <br clear="clr" />
    </div>
  <% end %>
</div>

          